/*@media screen and (max-width: 450px) {*/
	.inside header {
    	position: absolute;
	}
	nav h1 { 
		width: 100%;
	}	
	#breadcrumb {
	    list-style: none;
	    font-size: 17px;
	    margin: 0;
	    width: 100%;
	    box-sizing: border-box;
	}

	  #maincontent {
			display: flex;
			flex-wrap: wrap;
		}
	  .box {
			width: 100%;
		}
	.inside  #map-container {
			height: 20%;
			width: 100%;
			position: absolute;
			top: 135px;
		}
      #restaurant-container {
		 	padding: 2px 3px 5px;
		    width: 100%;
		    margin: 550px 0px 0px 0px;
		    box-sizing: border-box;
		    position: relative;
		    height: 10%;
      }
      #reviews-container {
		padding: 2px 3px 5px;
	    width: 100%;
	    margin: 0px;
	    box-sizing: border-box;
	    letter-spacing: 1px;
      }
	 .inside #footer {
		width: 100%;
		box-sizing: border-box;
		}
		#restaurant-name { 
			font-size: 2em;
			/*margin: 50px 0 30px;*/
			padding-top: 200px;
		}
		#reviews-list {
			margin-right: 1px;
		}
		#reviews-list li {
			border-radius: 20px 0px 20px 0px;
			display: flex;
    		flex-wrap: wrap;
    		padding: 0 0px 20px 0px;
    		width: 100%;
    		box-sizing: border-box;
		}

		#reviews-list li p:first-child {
			font-size: 15pt;
			background-color: #333;
			color: white;
			width: 50%;
			box-sizing: border-box;
    		padding-left: 20px;
		}

		#reviews-list li p:nth-child(2) {
			font-size: 13pt;
    		background-color: #333;
			color: #ddd;
			width: 50%;
			box-sizing: border-box;
    		padding-left: 20px;
		}
		#reviews-list li p:nth-child(3) {
			font-size: 13pt;
			background-color: #FFA500;
		    padding: 5px;
		    color: white;
		    border-radius: 5px;
		    /*font-size: 2em;*/
		    margin-left: 20px;
		}
		#reviews-list li p:nth-child(4) {
			font-size: 13pt;
			color: #666666;
			padding: 5px 20px 20px 20px;
		}
    /*}*/



    @media screen and (min-width: 850px) {
		 #maincontent {
			width: 850px;
			margin-left: auto;
			margin-right: auto;
		}
		.inside  #map-container {
			width: 850px;
			margin-left: auto;
			margin-right: auto;
			right: auto;
    		left: auto;
		}
		#restaurant-name { 
			/*padding-top: 0px;*/
			margin-top: 0px;
		}

    }

/*Accessibility*/
.hide-label{
	width: 0px;
    font-size: 1px;
    position: absolute
}

.skip-link {
		position :  absolute;
		top: -40px;
		left: 0;
		background: #BF1722;
		color: white;
		padding: 8px;
		z-index: 100;
}
.skip-link: focus {
	top: 0;
}